<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" >
  </head>
  <body>
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            FLASKAPP</a></li>
          </ul>
          <div class="text-end">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
              <li><a href="#" class="nav-link px-2 text-white">About</a></li>
              <li><a href="#" class="nav-link px-2 text-white">User page</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <h1>Hello, world!</h1>
    </div>

  </body>
</html>